* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.GeneralContainer {
  height: 100vh;
  background-color: #FFF;
  padding: 30px 150px;
}

.narv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.L-narv {
  color: #9B9A78;
  font-size: 36px;
  font-weight: 600;
}

.L-narv span {
  color: #313131;
}

.M-narv {
  display: flex;
  align-items: center;
  gap: 45px;
}

.M-narv a {
  color: #313131;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.home {
  color: #9B9A78;
  opacity: 0.6;
}

.M-narv img {
  margin-left: -28px;
}

.R-narv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.R-narv a {
  margin-right: -35px;
  color: #9B9A78;
  font-size: 18px;
  line-height: 40px;
}

.R-narv button {
  width: 149px;
  height: 60px;
  padding: 18px;
  color: #FFF;
  background-color: #9B9A78;
}

hr {
  display: none;
}

.midContent {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.midRight-content {
  margin-left: -180px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  width: 816px;
  /* height: 419px; */
}

.titlecontent {
  display: flex;
  align-items: baseline;
}

.descriptTitle {
  color: #313131;
  font-size: 56px;
  font-weight: 700;
}

.titlecontent img {
  padding-left: 40px;
  padding-bottom: 10px;
}

.descriptSubTitle {
  padding-top: 40px;
  color: #909090;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.midvectors {
  padding-left: 60px;
  display: flex;
  gap: 520px
}

.L-fills {
  display: flex;
  justify-content: center;
  gap: 165px;
}

.L-fil1l {
  margin-top: -40px;
  display: flex;
}

.sqrbox1,
.sqrbox2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEDEA;
  width: 80px;
  height: 80px;
  padding: 8px;
}

.sqrbox2 {
  background-color: #9B9A78;
}

.L-fill2 {
  display: inline-flex;
  justify-content: center;
  padding-top: 15px;
  gap: 20px
}

.dash {
  margin-top: -32px;
}

.R-fills {
  display: grid;
  grid-template-columns: 200px 200px;
}

.facility,
.facility3,
.facility4 {
  margin-top: -75px;
  padding: 30px 0;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
  z-index: 3;
}

.facility3,
.facility4 {
  padding-top: 73px;
}

.facility p {
  color: #313131;
  font-size: 18px;
}

.lower-content {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 410px
}

.lowerLeft img,
.lowermiddle img,
.lowerRight img {
  width: 50px;
  height: 50px;
}

.lowerLeft div,
.lowermiddle div,
.lowerRight div {
  padding: 5px 0;
  color: #313131;
  font-size: 24px;
  font-weight: 500;
}

.lowerLeft p,
.lowermiddle p,
.lowerRight p {
  color: #909090;
  font-size: 18px;
  line-height: 24px;
}

/* Responsiveness */

@media screen and (max-width: 1300px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .GeneralContainer {
    min-width: 800px;
    margin: 0 35px;
    margin-left: 30px;
  }

  .narv {
    justify-content: space-between;
    max-width: 800px;
    min-height: 250px;
  }


  .midContent {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .midRight-content {
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .descriptSubTitle {
    padding-left: 30px;
  }

  .midvectors {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    /* margin-top: 780px; */
    gap: 50px;
    width: 100%;
  }


  .facility,
  .facility3,
  .facility4 {
    font-size: 22px;
    line-height: 24px;
    gap: 80px;
  }

  .facility img,
  .facility3 img,
  .facility4 img {
    margin-right: -60px;
  }

  .facility p,
  .facility3 p,
  .facility4 p {
    padding-left: -30px;
  }

  .R-fills {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 40px;
  }


  .lower-content {
    margin-top: -200px;
    min-height: 700px;
    gap: 50px;
  }
}

@media screen and (max-width: 1300px) {
  .GeneralContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 790px 30px;
  }

  .narv {
    margin-top: 100px;
    width: 200%;
    min-height: 320px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(241, 241, 240);
  }

  .L-narv {
    display: inline-block;
    margin-top: 50px;
    font-size: 45px;
    font-stretch: ultra-expanded;
  }

  .midLeft-content img {

    width: 650px;
    height: 600px;
  }

  hr {
    display: block;
    margin-bottom: 30px;
    width: 800px;
    height: 2px;
    color: #313131;
  }

  .lower-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lowerLeft,
  .lowermiddle,
  .lowerRight {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lowerLeft div,
  .lowermiddle div,
  .lowerRight div {
    font-size: 28px;
    color: brown;
  }

  .lowerLeft p,
  .lowermiddle p,
  .lowerRight p {
    font-size: 30px;
    line-height: 36px;
    font-stretch: extra-expanded;
    color: #313030;
    opacity: 0.8;
  }
}

@media screen and (max-width: 660px) {
  .GeneralContainer {
    margin-left: 200px;
    /* margin: 790px 30px; */
  }
}